<ion-content>

  <ion-card class="card">
    <ion-card-header>
      <ion-card-subtitle>Van Gogh</ion-card-subtitle>
      <ion-card-title>A Noite Estrelada</ion-card-title>
    </ion-card-header>

    <img src="assets/starry-night.png">

    <ion-card-content class="card-content">
      <p>
        Noite Estrelada é uma pintura de Vicent
      van Gogh de 1889. A obra retrata a vista
      da janela de um quarto do Hospício de
      Saint-Rémy-de-Provence.
      </p>
    </ion-card-content>
  </ion-card>

  
  <ion-footer>
  <ion-icon name="arrow-round-back" [routerLink]="['/search-screen']" routerDirection="back" class="icon-arrow" slot="end" size="large"></ion-icon>

  <ion-icon (click)="presentLoading()" name="search" class="icon-search" size="large"></ion-icon>

  <ion-icon name="close" [routerLink]="['/thank-you-screen']" routerDirection="forward" class="icon-close" slot="end" size="large"></ion-icon>
</ion-footer>

</ion-content>