ion-content{ --ion-background-color: linear-gradient(#f0e68c, #ffdab9); }

.ion-padding { height: 90%; }

h1 {
    font-size: 200%;
    font-weight: bold;
}

h5 {
    color: #ffffff;
    font-size: 100%;
    font-weight: bold;
}

ion-icon {
    position: absolute;
    right: 3%;
    width: 70px;
    height: 90px;
}
