ion-content{ --ion-background-color: linear-gradient(#f0e68c, #ffdab9); }

.ion-title { height: 65%; }

ion-item { --ion-background-color: #f4f5f8; }

.ion-label {
    position: absolute;
    left: 50px;
    right: 50px;
}
