ion-content{ --ion-background-color: linear-gradient(#f0e68c, #ffdab9); }

h1 {
    font-size: 170%;
    font-weight: bold;
}

.icon-home {
    position: absolute;
    left: 155px;
    bottom: 8mm;
    width: 70px;
    height: 90px; 
}