ion-content{ --ion-background-color: linear-gradient(#f0e68c, #ffdab9); }

ion-item { --ion-background-color: #f4f5f8; }

.ion-label1 {
    position: absolute;
    left: 50px;
    right: 50px;
}

.ion-label2 {
    position: absolute;
    left: 50px;
    right: 50px;
    bottom: 32%;
}
