ion-content{ --ion-background-color: linear-gradient(#f0e68c, #ffdab9); }

.ion-label1 {
   position: absolute;
   left: 50px;
   right: 50px;
   bottom: 400px;
}

.ion-label2 {
    position: absolute;
    left: 50px;
    right: 50px;
    bottom: 330px;
}

.ion-label3 {
    position: absolute;
    left: 50px;
    right: 50px;
    bottom: 260px;
}